<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>RoDX</title>
        <link rel="stylesheet" href="/static/css/stylee.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/">HOME</a>
            <a href="/login">LOGIN</a>
            <a href="/register">REGISTER</a>
            <a href="/about">ABOUT</a>
        </div>
        <div class="content">
            <section class="header">
                <div class="text-box">
                    <h1>Romanian Drug Explorer</h1>
                    <a href="/about" class="click">Click pentru mai multe detalii</a>
                </div>        
            </section>       
        </section>

        <script>
            var navLinks= document.getElementById("navLinks");
            function showMenu(){
                navLinks.style.right="0";

            }
            function hideMenu(){
                navLinks.style.right="-200px";
            }

            
        </script>

    </body>
</html>