<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="RoDX - Pagina de logare">
        <link rel="stylesheet" href="/static/css/login.css">
        <title>Pagina de logare</title>
        <link rel="stylesheet" href="/static/css/brands.min.css">
        </head>
<body>
    <div class="navbar">
        <a href="/">HOME</a>
        <a href="/login">LOGIN</a>
        <a href="/register">REGISTER</a>
        <a href="/about">ABOUT</a>
    </div>
    <div class="header">
    </div>  
    <div class="side">
        <div class="login-container">
            <p class="title">Bine ati venit!</p>
            <div class="separator"></div>
            <p class="welcome-message">Va rugam sa va conectati!</p>
            <form id="loginForm" class="login-form">
                <div class="form-control">
                    <input type="text" id="username" name="username" placeholder="USERNAME" required>
                    <i class="fas fa-user"></i>
                </div>
                <div class="form-control">
                    <input type="password" id="password" name="password" placeholder="PASSWORD" required>
                    <i class="fas fa-lock"></i>
                </div>
                <button class="submit" type="submit">Login</button>

                <p class="form-text">
                    <a class="form-link" href="/register" id="linkCreateAccount">Nu aveti cont? Creeaza unul!</a>
                </p>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/api/users/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            });

            const data = await response.json();
            if (response.ok) {
                localStorage.setItem('token', data.token);
                alert('User logged in successfully');
                window.location.href = '/dashboard';
            } else {
                alert(data.message);
            }
        });
    </script>
</body>
</html>
