* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #303433;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/static/images/c.jpg);
    background-size: cover; 
    background-position: center;
}

nav {
    display: flex;
    padding: 20px 6%;
    justify-content: flex-end; 
    align-items: center;
    position: fixed; 
    top: 0;
    right: 0; 
    width: calc(100% - 300px);
    z-index: 999;
}

.nav-links{
    flex: 1;
    text-align: right;
    transition: 1s;;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 21px;
}
.nav-links ul li::after{
    content: '';
    width: 8%;
    height: 2px;
    background: rgb(0, 41, 79) ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

    .side {
        max-width: 450px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-top: 100px;
        margin-left: 600px;
    }

.title {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 24px;
}

.separator {
    width: 150px;
    height: 4px;
    background-color: blueviolet;
    margin: 24px auto;
}

.welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: blue;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    position: relative;
    margin-bottom: 24px;
}

input, button {
    border: none;
    outline: none;
    background-color: sandybrown;
    border-radius: 30px;
    font-size: 1.1em;
}

input {
    width: 100%;
    background: rgb(210, 212, 247);
    color: rgb(187, 253, 253);
    letter-spacing: 0.5px;
    padding: 14px 64px;
}

input:focus ~ i {
    color: #8b33c5;
}

button.submit {
    color: aliceblue;
    padding: 14px 64px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8b33c5, #15a0e1);
    cursor: pointer;
    transition: opacity 0.5s;
}

button.submit:hover {
    opacity: 0.5;
}

.form-text {
    margin-top: 5%;
    text-align: left;
}

.form-link {
    color: rgb(121, 127, 243);
    text-decoration: none;
    cursor: pointer;
}

.form-link:hover {
    text-decoration: underline;
}

@media (max-width: 780px) {
    .side {
        max-width: 90%;
    }
}